extends layout

block append content
  if user
    p Hello #{user}
  else
    p Hello Anonymous
    .desktop
      a(href="/signup.png") Singup
      a(href="/login.png") Login

    .mobile
      a(href="intent://login?token=#{loginToken}#Intent;scheme=qrauth;package=org.seniorsigan.zkpauthenticatorclient;S.browser_fallback_url=https://zkp-auth.herokuapp.com/login.png;end;") Intent Login
      a(href="intent://signup?token=#{signupToken}#Intent;scheme=qrauth;package=org.seniorsigan.zkpauthenticatorclient;S.browser_fallback_url=https://zkp-auth.herokuapp.com/signup.png;end;") Intent Signup
