extends layout

block append content
  if user
    p Hello #{user}
  else
    p Hello Anonymous
    .desktop
      a(href="/signup.png") Singup
      a(href="/login.png") Login

    .mobile
      a(href="qrauth://login?token=#{loginToken}") Mobile Login
      a(href="qrauth://signup?token=#{signupToken}") Mobile Signup
