extends layout

block append content
  if user
    p Hello #{user}
  else
    p Hello Anonymous
    .links
      a.intent(href="/signup.png", data-android-intent="intent://signup?token=#{signupToken}#Intent;scheme=org.seniorsigan.zkpauth;package=org.seniorsigan.zkpauthenticatorclient;S.browser_fallback_url=https://zkpauth.herokuapp.com/signup.png;end;") Singup
      a.intent(href="/login.png", data-android-intent="intent://login?token=#{loginToken}#Intent;scheme=org.seniorsigan.zkpauth;package=org.seniorsigan.zkpauthenticatorclient;S.browser_fallback_url=https://zkpauth.herokuapp.com/login.png;end;") Login
